/* General styles */
*,
*::before,
*::after {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  /* min-height: 100vh; */
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #f9fbfc;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* position: relative; */
  text-align: center;
}

.carousel-contaniner {
  max-width: 1000px;
  position: relative;
  padding: 0;
  /* margin: auto; */
  border: 2px solid rgb(62, 76, 117);
}

.slide {
  display: none;
}

#left-arrow,
#right-arrow {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: auto;
  padding: 0.8rem;
  color: white;
  z-index: 99;
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
  background: rgba(60, 60, 60, 0.4);
}
#left-arrow {
  left: 0;
}
#right-arrow {
  right: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

#dots-container {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -60px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(60, 60, 60, 0.2);
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
}

/* Footer */
.attribution {
  text-align: center;
  width: 100%;
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.attribution a {
  margin-left: 0.3rem;
}
